<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Отчет</title>
    <style type="text/css">
   table {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
   }
   td, th {
    padding: 3px;
    border-bottom: 1px solid #000;
   }
   th {
    text-align: left;
   }
  </style>
  </head>
  <body>
    <h1>Отчет по торговой точке {{ report_data.get('id_sp', '--') }}</h1>
    <hr>
    <p>Требуется закупка по следующим товарам</p>
    {% for gtin_data in report_data.get('gtins', []) %}
    <h2>Товар: {{ gtin_data.get('gtin', '--') }}</h2>
    <hr>
    <br>
    <table cellspacing="0">

      <tr>
        <th>GTIN</th>
        <td>{{ gtin_data.get('gtin', '--') }}</td>
      </tr>
      <tr>
        <th>Название</th>
        <td>{{ gtin_data.get('product_name', '--') }}</td>
      </tr>
      <tr>
        <th>Краткое наименование</th>
        <td>{{ gtin_data.get('product_short_name', '--') }}</td>
      </tr>
      <tr>
        <th>ТНВЭД</th>
        <td>{{ gtin_data.get('tnved', '--') }}</td>
      </tr>
      <tr>
        <th>ТНВЭД10</th>
        <td>{{ gtin_data.get('tnved10', '--') }}</td>
      </tr>
      <tr>
        <th>Бренд</th>
        <td>{{ gtin_data.get('brand', '--') }}</td>
      </tr>
      <tr>
        <th>Страна</th>
        <td>{{ gtin_data.get('country', '--') }}</td>
      </tr>
    </table>
    <br>
    <p>Возможные убытки: {{ gtin_data.get('loss_percentage', '--') }}%</p>
    <p>{{ gtin_data.get('message', '--') }}</p>
    {% endfor %}
    <hr>
    <p>Отчет создан {{ dt_created }}</p>
  </body>
</html>
